<h4>Pilih Class</h4>
<div class="tes">
	<div class="row">
		<div class="form-check col-sm-4">
			<input class="form-check-input" type="checkbox" value="dengue" name="dengue" id="dengue" required>
			<label class="form-check-label" for="defaultCheck1">
				Dengue
			</label>
		</div>
		<div class="form-check col-sm-4">
			<input class="form-check-input" type="checkbox" value="typoid" name="typoid" id="typoid" required>
			<label class="form-check-label" for="defaultCheck1">
				Typoid
			</label>
		</div>
		<div class="form-check col-sm-4">
			<input class="form-check-input" type="checkbox" value="campak" name="campak" id="campak" required>
			<label class="form-check-label" for="defaultCheck1">
				Campak
			</label>
		</div>
		<div class="form-check col-sm-4">
			<input class="form-check-input" type="checkbox" value="diare" name="diare" id="diare" required>
			<label class="form-check-label" for="defaultCheck1">
				Diare
			</label>
		</div>
		<div class="form-check col-sm-4">
			<input class="form-check-input" type="checkbox" value="gea" name="gea" id="gea" required>
			<label class="form-check-label" for="defaultCheck1">
				Gea
			</label>
		</div>
		<div class="form-check col-sm-4">
			<input class="form-check-input" type="checkbox" value="bronkitis" name="bronkitis" id="bronkitis" required>
			<label class="form-check-label" for="defaultCheck1">
				Bronkitis
			</label>
		</div>
		<div class="form-check col-sm-4">
			<input class="form-check-input" type="checkbox" value="farangitis" name="farangitis" id="farangitis" required>
			<label class="form-check-label" for="defaultCheck1">
				Farangitis
			</label>
		</div>
		<div class="form-check col-sm-4">
			<input class="form-check-input" type="checkbox" value="pnemonia" name="pnemonia" id="pnemonia" required>
			<label class="form-check-label" for="defaultCheck1">
				Pnemonia
			</label>
		</div>
	</div>
</div>