<div class="row section-2">
	<div class="col-sm-7">
		<div class="data">
			<h3>Parameter</h3>
			<div class="parameter">
				<h6>Nilai K : jumlah tetangga yang ingin diuji (contoh: 10)</h6>
				<h6>Nilai M : Nilai pangkat bobot yang ingin diberikan pada tetangga (contoh: 2)</h6>
			</div>
			<div class="form-group row">
				<div class="col-sm-3">
					<h4>K</h4>
					<h6>Tetangga</h6>
				</div>
				<div class="col-sm-3 input">
					<input type="number" min="1" max="20" class="form-control" placeholder="" name="k" required>
				</div>
				<div class="col-sm-3">
					<h4>M</h4>
					<h6>M > 1</h6>
				</div>
				<div class="col-sm-3 input">
					<input type="number" min="2" class="form-control" placeholder="" name="m" required>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-5 start">
		<input type="submit" class="btn btn-primary btn-block" value="Start" id="submit" name="submit">
	</div>
</div>