{% load static %}
<div class="sidebar">
	<div class="sidebar-main">
		<div class="vertical-menu">
			<a href="/tes/"><img src="{% static 'images/uii.png' %}"></a>
			<div class="menu">
				<a href="/tes/" class="active"><h4><i class="material-icons">sort</i> Classification</h4></a>
				<a href="/tes/hasil"><h4><i class="material-icons">receipt</i> Result</h4></a>
				<div class="sidebar-footer">
					<p>Hak Cipta &copy; 2018</br>Rizky Karunia Putra</p>
				</div>
			</div>
		</div>
	</div>
</div>