<div class="row section-2">
	<div class="col-sm-7">
		<div class="data">
			<div class="form-group row">
				<div class="col-sm-4">
					<h4>K</h4>
					<h6>Berapa banyak tetangga?</h6>
				</div>
				<div class="col-sm-2 input">
					<input type="number" min="1" max="20" class="form-control" placeholder="" name="k" required>
				</div>
				<div class="col-sm-4">
					<h4>M</h4>
					<h6>Berapa nilai M? M > 1</h6>
				</div>
				<div class="col-sm-2 input">
					<input type="number" min="2" max="7" class="form-control" placeholder="" name="m" required>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-5 start">
		<input type="submit" class="btn btn-primary btn-block" value="Start" id="submit" name="submit">
	</div>
</div>